<!doctype html>
<html ng-app="verbugator">
<head>
    <title>Verbugator</title>
    <script src="/scripts/vendor/angular.js"></script>
    <script src="/scripts/app.js"></script>
</head>
<body>
   
    <div ng-controller="SearchController">
        <input type="text" ng-model="query" id="search" autofocus /> 
        <select id="language" ng-model="language.selected" ng-options="k as v for (k,v) in languages"></select>
        <input type="button" ng-click="search(query, language.selected)" value="Conjugate" />
    </div>


    <div ng-controller="VerbController">

        <div ng-repeat="(key,val) in verbs.TENSES.INDICATIVE">
            <div>
                {{key}}
            </div>
            <ul>
                <li ng-repeat="p in val track by $index">
                    {{p}}
                </li>
            </ul>
        </div>
        
        <div ng-repeat="tense in verbs.TENSES.SUBJUNCTIVE">
            <div>
                {{key}}
            </div>
            <ul>
                <li ng-repeat="p in val track by $index">
                    {{p}}
                </li>
            </ul>
        </div>         
    </div>
</body>
</html>