div ng-repeat="(key,val) in verbs.TENSES.INDICATIVE">
         <div>
             {{key}}
         </div>
         <ul>
             <li ng-repeat="p in val track by $index">
                 {{p}}
             </li>
         </ul>
     </div>

     <div ng-repeat="tense in verbs.TENSES.SUBJUNCTIVE">
         <div>
             {{key}}
         </div>
         <ul>
             <li ng-repeat="p in val track by $index">
                 {{p}}
             </li>
         </ul>
     </div>    
     